@model AccessManager.ViewModels.LoggedAccountViewModel

@{
    ViewData["Title"] = "Моят профил";
}

<h2 class="text-center fw-bold">Моят профил</h2>

@if (ViewBag.Success != null && (bool)ViewBag.Success)
{
    <div class="alert alert-success">Профилът е обновен успешно.</div>
}

<style>
    input[readonly] {
        background-color: #e9ecef;
        color: #6c757d;
        border-color: #ced4da;
        cursor: not-allowed;
    }
</style>

<form asp-action="MyProfile" method="post">
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="FirstName" class="form-label">Първо име</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
                @if (!Model.canEdit)
                {
                    <input type="hidden" asp-for="FirstName" />
                }
            </div>

            <div class="mb-3">
                <label asp-for="MiddleName" class="form-label">Второ име</label>
                <input asp-for="MiddleName" class="form-control" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
                @if (!Model.canEdit)
                {
                    <input type="hidden" asp-for="MiddleName" />
                }
            </div>

            <div class="mb-3">
                <label asp-for="LastName" class="form-label">Фамилия</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
                @if (!Model.canEdit)
                {
                    <input type="hidden" asp-for="LastName" />
                }
            </div>

            <div class="mb-3">
                <label asp-for="EGN" class="form-label">ЕГН</label>
                <input asp-for="EGN" class="form-control" />
                <span asp-validation-for="EGN" class="text-danger"></span>
                @if (!Model.canEdit)
                {
                    <input type="hidden" asp-for="EGN" />
                }
            </div>

            <div class="mb-3">
                <label asp-for="Phone" class="form-label">Телефонен номер</label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
                @if (!Model.canEdit)
                {
                    <input type="hidden" asp-for="Phone" />
                }
            </div>
        </div>

        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="UserName" class="form-label">Потребителско име</label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
                @if(!Model.canEdit)
                {
                    <input type="hidden" asp-for="UserName" />
                }
            </div>

            <div class="mb-3">
                <label class="form-label">Отдел</label>
                <input class="form-control" value="@Model.UnitDescription" readonly />
                <input type="hidden" asp-for="UnitDescription" />
            </div>

            <div class="mb-3">
                <label class="form-label">Дирекция</label>
                <input class="form-control" value="@Model.DepartmentDescription" readonly />
                <input type="hidden" asp-for="DepartmentDescription" />
            </div>

            <div class="mb-3">
                <label class="form-label">Достъп за четене</label>
                <input class="form-control" value="@Model.ReadingAccess" readonly />
                <input type="hidden" asp-for="ReadingAccess" />
            </div>

            <div class="mb-3">
                <label class="form-label">Достъп за писане</label>
                <input class="form-control" value="@Model.WritingAccess" readonly />
                <input type="hidden" asp-for="WritingAccess" />
            </div>
        </div>
    </div>
    <hr />

    <h4>Смяна на парола</h4>
    <div class="row">
        <div class="col-md-6 mb-3">
            <label class="form-label">Стара парола</label>
            <div class="position-relative d-flex align-items-center">
                <input id="OldPasswordInput" name="OldPassword" type="password" class="form-control pe-5" />
                <button type="button"
                        class="btn btn-link p-0 border-0 position-absolute end-0 me-3 d-flex align-items-center"
                        onclick="togglePasswordVisibility('OldPasswordInput', this)"
                        style="top: 50%; transform: translateY(-50%); box-shadow: none;">
                    <i class="bi bi-eye fs-5" id="PasswordIcon"></i>
                </button>
            </div>
            @if (ViewData.ModelState["Password"]?.Errors.Count > 0)
            {
                <span class="text-danger">@ViewData?.ModelState["Password"]?.Errors[0].ErrorMessage</span>
            }
        </div>
        <div class="col-md-6 mb-3">
            <label class="form-label">Нова парола</label>
            <div class="position-relative d-flex align-items-center">
                <input id="NewPasswordInput" name="NewPassword" type="password" class="form-control pe-5" />
                <button type="button"
                        class="btn btn-link p-0 border-0 position-absolute end-0 me-3 d-flex align-items-center"
                        onclick="togglePasswordVisibility('NewPasswordInput', this)"
                        style="top: 50%; transform: translateY(-50%); box-shadow: none;">
                    <i class="bi bi-eye fs-5" id="PasswordIcon"></i>
                </button>
            </div>
        </div>
    </div>

    <div class="d-grid mb-4">
        <button type="submit" class="btn btn-primary btn-lg">Запази</button>
    </div>
</form>

<hr />

<h4>Видими отдели</h4>
<div style="max-height: 200px; overflow-y: auto;">
    <table class="table table-sm table-bordered">
        <thead class="table-light">
            <tr>
                <th>Дирекция</th>
                <th>Отдел</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.AccessibleUnits.Count; i++)
            {
                <tr>
                    <td>@Model.AccessibleUnits[i].DepartmentName</td>
                    <td>@Model.AccessibleUnits[i].UnitName</td>
                </tr>
            }
        </tbody>
    </table>
</div>

<h4>Достъпи</h4>
<div style="max-height: 200px; overflow-y: auto;">
    <table class="table table-sm table-bordered">
        <thead class="table-light">
            <tr>
                <th>АИС</th>
                <th>Родителски достъп</th>
                <th>Достъп</th>
                <th>Заповед</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.UserAccesses.Count; i++)
            {
                <tr>
                    @* <td>@Model.UserAccesses[i].InformationSystemDescription</td> *@
                    <td>@Model.UserAccesses[i].ParentAccessDescription</td>
                    <td>@Model.UserAccesses[i].Description</td>
                    @* <td>@Model.UserAccesses[i].Directive</td> *@
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/password-visibility-toggle.js" asp-append-version="true"></script>
}
