@model AccessManager.ViewModels.IPagedResult

@{
    // Capture all current query parameters
    var query = new Dictionary<string, object>(
        ViewContext.HttpContext.Request.Query
            .ToDictionary(k => k.Key, v => (object)v.Value.ToString())
    );

    int currentPage = Model.Page;
    int totalPages = Model.TotalPages;
    string pageParam = "page";
}

@if (totalPages > 1)
{
    <nav>
        <ul class="pagination justify-content-center mt-4">

            <li class="page-item @(currentPage == 1 ? "disabled" : "")">
                @{
                    query[pageParam] = currentPage - 1;
                }
                <a class="page-link" href="@Url.Action(null, query)">Предишна</a>
            </li>

            @for (int i = 1; i <= totalPages; i++)
            {
                query[pageParam] = i;
                <li class="page-item @(i == currentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action(null, query)">@i</a>
                </li>
            }

            <li class="page-item @(currentPage == totalPages ? "disabled" : "")">
                @{
                    query[pageParam] = currentPage + 1;
                }
                <a class="page-link" href="@Url.Action(null, query)">Следваща</a>
            </li>
        </ul>
    </nav>
}
