@using AccessManager.ViewModels.Department;
@using AccessManager.ViewModels;

@model PagedResult<UnitDepartmentViewModel>

@{
    ViewData["Title"] = "Изтрити отдели и дирекции";
}

<h2>Деактивирани отдели и дирекции</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
@if (TempData["Success"] != null)
{
    <div class="text-success">@TempData["Success"]</div>
}

<form style="display:none;">
    @Html.AntiForgeryToken()
</form>

<div class="d-flex mb-3">
    <form asp-controller="Access" asp-action="HardUnitsAndDepartments" method="post" onsubmit="return confirm('Наистина ли искате да изтриете всички деактивирани отдели и дирекции?');">
        <button type="submit" class="btn btn-danger me-2">
            Изтрий всички деактивирани отдели и дирекции
        </button>
    </form>
</div>
<table class="table table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th>Дирекция</th>
            <th>Отдел</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ud in Model.Items)
        {
            <tr>
                <td>@ud.DepartmentName</td>
                <td>@ud.UnitName</td>
                @if (ud.UnitId == null)
                {
                    <td>
                        <form asp-controller="Department" asp-action="HardDeleteDepartment" method="post" asp-route-departmentId="@ud.DepartmentId">
                            <button type="submit" class="btn btn-danger me-2">
                                Изтрий
                            </button>
                        </form>
                    </td>
                    <td>
                        <form asp-controller="Department" asp-action="RestoreDepartment" method="post" asp-route-accessId="@ud.DepartmentId">
                            <button type="submit" class="btn btn-success me-2">
                                Възстанови
                            </button>
                        </form>
                    </td>
                }
                else
                {
                    <td>
                        <form asp-controller="Unit" asp-action="HardDeleteUnit" method="post" asp-route-unitId="@ud.UnitId">
                            <button type="submit" class="btn btn-danger me-2">
                                Изтрий
                            </button>
                        </form>
                    </td>
                    <td>
                        <form asp-controller="Unit" asp-action="RestoreUnit" method="post" asp-route-unitId="@ud.UnitId">
                            <button type="submit" class="btn btn-success me-2">
                                Възстанови
                            </button>
                        </form>
                    </td>
                }

            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("~/Views/Shared/_Pager.cshtml", Model)

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
