@using AccessManager.Data.Enums
@model AccessManager.ViewModels.Department.UnitDepartmentListViewModel

@{
    ViewData["Title"] = "Дирекции";
}

<h2>Дирекции и отдели</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
@if (TempData["Success"] != null)
{
    <div class="text-success">@TempData["Success"]</div>
}

<form method="get" id="FilterForm" class="mb-3 d-flex align-items-end gap-3">
    <filter form-id="DepartmentFilterForm"
            label="Филтър по дирекция"
            controller="Department"
            action="SearchDepartments"
            hidden-input-id="filterDepartment"
            hidden-name="filterDepartmentId"
            filter-id="@Model.FilterDepartmentId"
            filter-description="@Model.FilterDepartmentDescription">
    </filter>

    <filter form-id="UnitFilterForm"
            label="Филтър по отдел"
            controller="Unit"
            action="SearchUnits"
            hidden-input-id="filterUnit"
            hidden-name="filterUnitId"
            filter-id="@Model.FilterUnitId"
            filter-description="@Model.FilterUnitDescription">
    </filter>

    <div class="d-flex justify-content-start gap-2 mb-3 align-items-end">
        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#createDepartmentModal" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Restricted">
            Добави новa дирекция
        </button>
        <a asp-controller="Unit" asp-action="CreateUnit" class="btn btn-success" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Restricted">
            Добави нов отдел
        </a>
        <a asp-controller="File" asp-action="UnitsCsv" class="btn btn-primary" auth="@Model.LoggedUserReadAuthority >= AuthorityType.Restricted">
            Експортирай CSV
        </a>
        <a asp-controller="Department" asp-action="DeletedUnitDepartments" class="btn btn-danger" auth="@Model.LoggedUserReadAuthority >= AuthorityType.SuperAdmin">
            Виж изтритите отдели
        </a>
    </div>
</form>

<table class="table table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th>Дирекция</th>
            <th>Отдел</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ud in Model.UnitDepartments.Items)
        {
            <tr>
                <td title="@ud.DepartmentName">@ud.DepartmentName</td>
                <td title="@ud.UnitName">@ud.UnitName</td>
                @if (ud.UnitId == null)
                {
                    <td>
                        <a asp-controller="Department" asp-action="EditDepartment" asp-route-id="@ud.DepartmentId" class="btn btn-sm btn-info" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Restricted">
                            Редактирай
                        </a>
                    </td>
                    <td>
                        <form asp-controller="Department" asp-action="SoftDeleteDepartment" method="post" asp-route-departmentid="@ud.DepartmentId">
                            <button type="submit" class="btn btn-danger btn-sm" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Full"
                                    onclick="return confirm('Изтриваенето на дирекция изтрива: всички нейни отдели, всички служители от тези отдели, всички достъпи на служители до тези отдели'">
                                Изтрий
                            </button>
                        </form>
                    </td>
                }
                else
                {
                    <td>
                        <a asp-controller="Unit" asp-action="EditUnit" asp-route-id="@ud.UnitId" class="btn btn-sm btn-info" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Restricted">
                            Редактирай
                        </a>
                    </td>
                    <td>
                        <form asp-controller="Unit" asp-action="SoftDeleteUnit" method="post" asp-route-unitid="@ud.UnitId">
                            <button type="submit" class="btn btn-danger btn-sm" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Full"
                                    onclick="return confirm('Изтриваенето на отдел изтрива: всички служители от този отдели, всички достъпи на служители до този отдели'">
                                Изтрий
                            </button>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("~/Views/Shared/_Pager.cshtml", Model.UnitDepartments)

<div class="modal fade" id="createDepartmentModal" tabindex="-1" aria-labelledby="createDepartmentModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createDepartmentModalLabel">Нова дирекция</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Затвори"></button>
            </div>
            <form asp-controller="Department" asp-action="CreateNewDepartment" method="post">
                @Html.AntiForgeryToken()
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="DepartmentName" class="form-label">Име на дирекция</label>
                        <input type="text" name="DepartmentName" id="DepartmentName" class="form-control" required auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Full" />
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Откажи</button>
                    <button type="submit" class="btn btn-success" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Full">Запази</button>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/filter.js" asp-append-version="true"></script>
}
