@model AccessManager.ViewModels.Access.AccessListViewModel

@{
    ViewData["Title"] = "Достъпи";
}

<form style="display:none;">
    @Html.AntiForgeryToken()
</form>

<h2>Достъпи</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
@if (TempData["Success"] != null)
{
    <div class="text-success">@TempData["Success"]</div>
}

<form method="get" class="d-flex justify-content-start align-items-end gap-2 mb-3 wrapper" data-readonly="@(ViewBag.IsReadOnly != null && (bool)ViewBag.IsReadOnly ? "true" : "false")">
    <div>
        <label class="form-label">Ниво</label>
        <select asp-for="Level" id="LevelSelect" class="form-select" onchange="this.form.submit()">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>
    <div class="position-relative">
        <label class="form-label">Филтър по родителски достъп</label>
        <input type="text" id="FilterSearch" class="form-control"
               placeholder="Избор на родител" autocomplete="off"
               value="@Model.FilterDescription" />

        <input type="hidden" asp-for="FilterAccessId"
               name="filterAccessId" id="FilterAccessId"
               onchange="this.form.submit()" />

        <div id="filterCandidates" class="list-group dropdown-results"></div>
        <span asp-validation-for="FilterAccessId" class="text-danger"></span>
    </div>
    <div>
        @if (Model.WriteAuthority >= AccessManager.Data.Enums.AuthorityType.Full)
        {
            <a asp-controller="Access" asp-action="CreateAccess" class="btn btn-success">
                Добави нов достъп
            </a>
            <a asp-controller="File" asp-action="AccessesCsv" class="btn btn-primary">
                Експортирай CSV
            </a>
        }
        @if (Model.WriteAuthority >= AccessManager.Data.Enums.AuthorityType.SuperAdmin)
        {
            <a asp-controller="Access" asp-action="DeletedAccesses" class="btn btn-danger">
                Виж изтритите достъпи
            </a>
        }
    </div>
</form>

<table class="table table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th>Име</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var access in Model.Accesses)
        {
            <tr>
                <td>@access.Description</td>
                @if (Model.WriteAuthority >= AccessManager.Data.Enums.AuthorityType.Restricted)
                {
                    <td>
                        <a asp-controller="Access" asp-action="EditAccess" asp-route-accessid="@access.AccessId" class="btn btn-sm btn-info">
                            Редактирай
                        </a>
                    </td>
                    <td>
                        <form asp-controller="Access" asp-action="SoftDeleteAccess" method="post" asp-route-id="@access.AccessId">
                            <button type="submit" class="btn btn-sm btn-danger">
                                Изтрий
                            </button>
                        </form>
                    </td>

                }
            </tr>
        }
    </tbody>
</table>


    <nav>
        <ul class="pagination justify-content-center mt-4">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" href="?page=@i">@i</a>
                </li>
            }
        </ul>
    </nav>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/access-list.js" asp-append-version="true"></script>
    <script src="~/js/wrapper-is-readonly.js" asp-append-version="true"></script>
}
