@model AccessManager.ViewModels.Access.AccessListViewModel
@using AccessManager.Data.Enums;
@{
    ViewData["Title"] = "Достъпи";
}

<form style="display:none;">
    @Html.AntiForgeryToken()
</form>

<h2>Достъпи</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
@if (TempData["Success"] != null)
{
    <div class="text-success">@TempData["Success"]</div>
}

<form method="get" class="d-flex justify-content-start align-items-end gap-2 mb-3">
    <filter form-id="AccessFilterForm"
            label="Филтър по достъп"
            controller="Access"
            action="SearchAccesses"
            hidden-input-id="filterAccess"
            hidden-name="filterAccessId"
            filter-id="@Model.FilterAccessId"
            filter-description="@Model.FilterAccessDescription">
    </filter>

    <div>
        <a asp-controller="Access" asp-action="CreateAccess" class="btn btn-success" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Restricted">
            Добави нов достъп
        </a>
        <a asp-controller="File" asp-action="AccessesCsv" class="btn btn-primary" auth="@Model.LoggedUserReadAuthority >= AuthorityType.Restricted">
            Експортирай CSV
        </a>
        <a asp-controller="Access" asp-action="DeletedAccesses" class="btn btn-danger" auth="@Model.LoggedUserReadAuthority >= AuthorityType.SuperAdmin">
            Виж изтритите достъпи
        </a>
    </div>
</form>

<table class="table table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th>Име</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var access in Model.Accesses.Items)
        {
            <tr>
                <td>@access.Description</td>
                <td>
                    <a asp-controller="Access" asp-action="EditAccess" asp-route-accessid="@access.AccessId" class="btn btn-sm btn-info" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Restricted">
                        Редактирай
                    </a>
                </td>
                <td>
                    <form asp-controller="Access" asp-action="SoftDeleteAccess" method="post" asp-route-id="@access.AccessId" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Full">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Изтрий
                        </button>
                    </form>
                </td>

            </tr>
        }
    </tbody>
</table>


@await Html.PartialAsync("~/Views/Shared/_Pager.cshtml", Model.Accesses)

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/filter.js" asp-append-version="true"></script>
}
