@using AccessManager.ViewModels.Access;
@using AccessManager.ViewModels;

@model PagedResult<AccessListItemViewModel>
@{
    ViewData["Title"] = "Достъпи";
}

<h2>Деактивирани достъпи</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
@if (TempData["Success"] != null)
{
    <div class="text-success">@TempData["Success"]</div>
}

<form style="display:none;">
    @Html.AntiForgeryToken()
</form>

<div class="d-flex mb-3">
    <form asp-controller="Access" asp-action="HardDeleteAccesses" method="post" onsubmit="return confirm('Наистина ли искате да изтриете всички деактивирани достъпи?');">
        <button type="submit" class="btn btn-danger me-2">
            Изтрий всички деактивирани достъпи
        </button>
    </form>
</div>

<table class="table table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th>Описание</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var acc in Model.Items)
        {
            <tr>
                <td>@acc.Description</td>
                <td>
                    <form asp-controller="Access" asp-action="HardDeleteAccess" method="post" asp-route-accessId="@acc.AccessId">
                        <button type="submit" class="btn btn-sm btn-danger">
                            Изтрий
                        </button>
                    </form>
                </td>
                <td>
                    <form asp-controller="Access" asp-action="RestoreAccess" method="post" asp-route-accessId="@acc.AccessId">
                        <button type="submit" class="btn btn-sm btn-success">
                            Възстанови
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("~/Views/Shared/_Pager.cshtml", Model)

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
