@using AccessManager.Data.Enums
@model AccessManager.ViewModels.Access.EditAccessViewModel

<h2 class="text-center">@Model.Description</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
@if (TempData["Success"] != null)
{
    <div class="text-success">@TempData["Success"]</div>
}

<div class="row mb-2">
    <form method="post" asp-action="EditAccessName" class="mb-2">
      <input type="hidden" name="accessId" value="@Model.AccessId" /> 
      <label asp-for="Name" class="form-label">Ново име</label>
        <input asp-for="Name" class="form-control" onchange="this.form.submit()" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Full" />
    </form>
</div>

<div class="row mt-5">
    <div class="col-md-6">
        <h4>Потребители с достъп</h4>
        <form method="get" asp-action="EditAccess">
            <input type="hidden" name="accessId" value="@Model.AccessId" />
            <filter form-id="DirectiveFilterForm1"
                    label="Филтър по заповед"
                    controller="Directive"
                    action="SearchDirectives"
                    hidden-input-id="filterDirective1"
                    hidden-name="filterDirectiveId1"
                    filter-id="@Model.FilterDirectiveId1"
                    filter-description="@Model.FilterDirectiveDescription1">
            </filter>
        </form>

        <form asp-action="RevokeUserAccess" method="post">
            <div class="mb-2">
                <filter form-id="DirectiveToRevokeAccessForm"
                        label="Заповед за спиране на достъп"
                        controller="Directive"
                        action="SearchDirectives"
                        hidden-input-id="DirectiveToRevokeAccess"
                        hidden-name="directiveToRevokeAccessId"
                        filter-id="@Model.DirectiveToRevokeAccessId"
                        filter-description="@Model.DirectiveToRevokeAccessDescription"
                        submit-on-select="false">
                </filter>
            </div>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="selectAllWithAccess" /></th>
                        <th>Потребител</th>
                        <th>Служба</th>
                        <th>Отдел</th>
                        <th>Заповед</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.UsersWithAccess.Items)
                    {
                        <tr>
                            <td> <input type="checkbox" name="SelectedUsersWithAccessIds" value="@user.UserId" /> </td>
                            <td>@user.FirstName @user.LastName (@user.UserName)</td>
                            <td>@user.Position</td>
                            <td>@user.Department - @user.Unit</td>
                            <td>
                                <div class="position-relative">
                                    <input type="text" class="form-control directive-search"
                                           data-userid="@user.UserId"
                                           data-accessid="@Model.AccessId"
                                           autocomplete="off" 
                                           value="@user.DirectiveDescription"
                                           auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Full" />
                                    <input type="hidden" class="directive-hidden" />
                                    <div class="list-group position-absolute directive-results" style="z-index:1000;"></div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            @await Html.PartialAsync("~/Views/Shared/_Pager.cshtml", Model.UsersWithAccess)

            <input type="hidden" name="accessId" value="@Model.AccessId" /> 
            <button type="submit" class="btn btn-danger mt-2" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Restricted">Премахни избраните</button>
            <button type="button" class="btn btn-secondary mt-2" id="selectAllWithAccessBtn">Избери всички</button>
        </form>
    </div>

    <div class="col-md-6">
        <h4>Потребители без достъп</h4>
        <form method="get" asp-action="EditAccess">
            <input type="hidden" name="accessId" value="@Model.AccessId" />

            <filter form-id="DirectiveFilterForm2"
                    label="Филтър по заповед"
                    controller="Directive"
                    action="SearchDirectives"
                    hidden-input-id="filterDirective2"
                    hidden-name="filterDirectiveId2"
                    filter-id="@Model.FilterDirectiveId2"
                    filter-description="@Model.FilterDirectiveDescription2">
            </filter>
        </form>

        <form asp-controller="Access" asp-action="GrantUserAccess" method="post">
            <input type="hidden" name="accessId" value="@Model.AccessId" />
            <div class="mb-2">
                <filter form-id="DirectiveToGrantAccessForm"
                        label="Заповед за даване на достъп"
                        controller="Directive"
                        action="SearchDirectives"
                        hidden-input-id="DirectiveToGrantAccess"
                        hidden-name="directiveToGrantAccessId"
                        filter-id="@Model.DirectiveToGrantAccessId"
                        filter-description="@Model.DirectiveToGrantAccessDescription"
                        submit-on-select="false">
                </filter>
            </div>

            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="selectAllWithoutAccess" /></th>
                        <th>Потребител</th>
                        <th>Служба</th>
                        <th>Отдел</th>
                        <th>Заповед</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model.UsersWithoutAccess.Items)
                    {
                        <tr>
                            <td> <input type="checkbox" name="SelectedUsersWithoutAccessIds" value="@user.UserId" /> </td>
                            <td>@user.FirstName @user.LastName (@user.UserName)</td>
                            <td>@user.Position</td>
                            <td>@user.Department - @user.Unit</td>
                            <td>
                                <div class="position-relative">
                                    <input type="text" class="form-control directive-search"
                                           data-userid="@user.UserId"
                                           data-accessid="@Model.AccessId"
                                           autocomplete="off" 
                                           value="@user.DirectiveDescription"
                                           auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Full" />
                                    <input type="hidden" class="directive-hidden" />
                                    <div class="list-group position-absolute directive-results" style="z-index:1000;"></div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            @await Html.PartialAsync("~/Views/Shared/_Pager.cshtml", Model.UsersWithoutAccess)

            <input type="hidden" name="accessId" value="@Model.AccessId" /> 
            <button type="submit" class="btn btn-success mt-2" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Restricted">Добави избраните</button>
            <button type="button" class="btn btn-secondary mt-2" id="selectAllWithoutAccessBtn">Избери всички</button>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/edit-access.js" asp-append-version="true"></script>
    <script src="~/js/filter.js" asp-append-version="true"></script>
}
