@using AccessManager.Data.Enums
@using AccessManager.Utills
@using AccessManager.ViewModels.Access
@model UserAccessListViewModel

<h2>Потребители и достъпи</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
@if (TempData["Success"] != null)
{
    <div class="text-success">@TempData["Success"]</div>
}

<form method="get" id="filterForm">
    <div class="mb-3 d-flex align-items-end gap-3">
        <div>
            <label asp-for="SelectedSortOption" class="form-label">Сортиране</label>
            <select asp-for="SelectedSortOption" class="form-select" id="selectedSortOption" onchange="document.getElementById('filterForm').submit()">
                @foreach (UserSortOptions sort in Enum.GetValues(typeof(UserSortOptions)))
                {
                    <option value="@((int)sort)">@BulgarianLocalization.GetBulgarianSort(sort)</option>
                }
            </select>
        </div>

        <filter form-id="AccessFilterForm"
                label="Филтър по достъп"
                controller="Access"
                action="SearchAccesses"
                hidden-input-id="filterAccess"
                hidden-name="filterAccessId"
                filter-id="@Model.FilterAccessId"
                filter-description="@Model.FilterAccessDescription">
        </filter>

        <filter form-id="UserNameFilterForm"
                label="Филтър по потребителско име"
                controller="User"
                action="SearchUsers"
                hidden-input-id="filterUser"
                hidden-name="filterUserId"
                filter-id="@Model.FilterUserId"
                filter-description="@Model.FilterUserName">
        </filter>

        <filter form-id="DirectiveFilterForm"
            label="Филтър по заповед"
            controller="Directive"
            action="SearchDirectives"
            hidden-input-id="filterDirective"
            hidden-name="filterDirectiveId"
            filter-id="@Model.FilterDirectiveId"
            filter-description="@Model.FilterDirectiveDescription">
        </filter>

        <filter form-id="PositionFilterForm"
            label="Филтър по служба"
            controller="Position"
            action="SearchPositions"
            hidden-input-id="filterPosition"
            hidden-name="filterPositionId"
            filter-id="@Model.FilterPositionId"
            filter-description="@Model.FilterPositionDescription">
        </filter>

        <filter form-id="DepartmentFilterForm"
            label="Филтър по дирекция"
            controller="Department"
            action="SearchDepartments"
            hidden-input-id="filterDepartment"
            hidden-name="filterDepartmentId"
            filter-id="@Model.FilterDepartmentId"
            filter-description="@Model.FilterDepartmentDescription">
        </filter>

        <filter form-id="UnitFilterForm"
            label="Филтър по отдел"
            controller="Unit"
            action="SearchUnits"
            hidden-input-id="filterUnit"
            hidden-name="filterUnitId"
            filter-id="@Model.FilterUnitId"
            filter-description="@Model.FilterUnitDescription">
        </filter>

        <div>
            <a asp-controller="File" asp-action="UserAccessCsv" class="btn btn-primary" auth="@Model.LoggedUserReadAuthority >= AuthorityType.Restricted">
                Експортирай CSV
            </a>
        </div>
    </div>

    <div>
        <table class="table table-bordered table-striped">
            <thead class="table-light">
                <tr>
                    <th title="Потребителско име">Потребителско име</th>
                    <th title="Собствено име">Собствено име</th>
                    <th>Фамилия</th>
                    <th>Служба</th>
                    <th>Дирекция</th>
                    <th>Отдел</th>
                    <th title="Достъп за писане">Достъп за писане</th>
                    <th title="Достъп за четене">Достъп за четене</th>
                    <th title="Описание на достъп">Описание на достъп</th>
                    <th title="Заповед за даване на достъпа">Заповед за даване на достъпа</th>
                    <th title="Заповед за премахване на достъпа">Заповед за премахване на достъпа</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var ua in Model.UserAccessList.Items)
                {
                    <tr>
                        <td title="@ua.UserName">@ua.UserName</td>
                        <td title="@ua.FirstName">@ua.FirstName</td>
                        <td title="@ua.LastName">@ua.LastName</td>
                        <td title="@ua.Position">@ua.Position</td>
                        <td title="@ua.Department">@ua.Department</td>
                        <td title="@ua.Unit">@ua.Unit</td>
                        <td title="@BulgarianLocalization.GetBulgarianAuthorityType(ua.WriteAccess)">@BulgarianLocalization.GetBulgarianAuthorityType(ua.WriteAccess)</td>
                        <td title="@BulgarianLocalization.GetBulgarianAuthorityType(ua.ReadAccess)">@BulgarianLocalization.GetBulgarianAuthorityType(ua.ReadAccess)</td>
                        <td title="@ua.AccessDescription">@ua.AccessDescription</td>
                        <td title="@ua.GrantDirectiveDescription">@ua.GrantDirectiveDescription</td>
                        <td title="@ua.RevokeDirectiveDescription">@ua.RevokeDirectiveDescription</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @await Html.PartialAsync("~/Views/Shared/_Pager.cshtml", Model.UserAccessList)
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/filter.js" asp-append-version="true"></script>
}
