@using AccessManager.ViewModels.Unit
@model MapUserUnitAccessViewModel

<h2 class="text-center">@Model.FirstName @Model.LastName</h2>
<h4 class="text-center">@Model.Department - @Model.Unit</h4>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
@if (TempData["Success"] != null)
{
    <div class="text-success">@TempData["Success"]</div>
}

<div class="row wrapper mt-5">
    <div class="col-md-6">
        <h4>Достъпни отдели</h4>
        <form method="get" asp-action="MapUserUnitAccess" class="mb-2" as>
                <input type="hidden" name="username" value="@Model.UserName" /> 
                <input type="hidden" name="FilterDepartment2" value="@Model.FilterDepartment2" />
                <input type="hidden" name="page1" value="1" />
                <input type="hidden" name="page2" value="@Model.CurrentPage2" />

                <label for="filterDepartment1" class="form-label">Филтър по дирекция:</label>
                <select name="filterDepartment1" id="filterDepartment1" class="form-select" onchange="this.form.submit()">
                <option value="">Всички</option>
                @foreach (var department in Model.FilterDepartments)
                {
                    <option value="@department.Value" selected="@(department.Value == Model.FilterDepartment1 ? "selected" : null)">
                        @department.Text
                    </option>
                }
                </select>
        </form>

        <form asp-action="RevokeUnitAccess" method="post">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="selectAllAccessible" /></th>
                        <th>Отдел</th>
                        <th>Дирекция</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var unit in Model.AccessibleUnits)
                    {
                        <tr>
                            <td><input type="checkbox" name="SelectedAccessibleUnitIds" value="@unit.UnitId" /></td>
                            <td>@unit.UnitName</td>
                            <td>@unit.DepartmentName</td>
                        </tr>
                    }
                </tbody>
            </table>

            @await Html.PartialAsync("_Pagination", 
            (Model.CurrentPage1, Model.TotalPages1, "page1", (object)new { 
            username = Model.UserName, 
            page2 = Model.CurrentPage2, 
            filterDept1 = Model.FilterDepartment1, 
            filterDept2 = Model.FilterDepartment2}))

            <input type="hidden" name="username" value="@Model.UserName" /> 

            <button type="submit" class="btn btn-danger mt-2">Премахни избраните</button>
            <button type="button" class="btn btn-secondary mt-2" id="selectAllAccessibleBtn">Избери всички</button>
        </form>
    </div>

    <div class="col-md-6">
        <h4>Недостъпни отдели</h4>
        <form method="get" asp-action="MapUserUnitAccess" class="mb-2">
            <input type="hidden" name="username" value="@Model.UserName" />
            <input type="hidden" name="FilterDepartment1" value="@Model.FilterDepartment1" />
            <input type="hidden" name="page1" value="@Model.CurrentPage1" />
            <input type="hidden" name="page2" value="1" />
            
            <label for="filterDepartment2" class="form-label">Филтър по дирекция:</label>
            <select name="filterDepartment2" id="filterDepartment2" class="form-select" onchange="this.form.submit()">
            <option value="">Всички</option>
            @foreach (var department in Model.FilterDepartments)
            {
                <option value="@department.Value" selected="@(department.Value == Model.FilterDepartment2 ? "selected" : null)">
                    @department.Text
                </option>
            }
            </select>
        </form>

        <form asp-action="GrantUnitAccess" method="post">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="selectAllInaccessible" /></th>
                        <th>Отдел</th>
                        <th>Дирекция</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var unit in Model.InaccessibleUnits)
                    {
                        <tr>
                            <td><input type="checkbox" name="SelectedInaccessibleUnitIds" value="@unit.UnitId" /></td>
                            <td>@unit.UnitName</td>
                            <td>@unit.DepartmentName</td>
                        </tr>
                    }
                </tbody>
            </table>

            @await Html.PartialAsync("_Pagination", 
            (Model.CurrentPage2, Model.TotalPages2, "page2", (object)new { 
            username = Model.UserName, 
            page2 = Model.CurrentPage2, 
            filterDept1 = Model.FilterDepartment1, 
            filterDept2 = Model.FilterDepartment2 }))

            <input type="hidden" name="username" value="@Model.UserName" /> 

            <button type="submit" class="btn btn-success mt-2">Добави избраните</button>
            <button type="button" class="btn btn-secondary mt-2" id="selectAllInaccessibleBtn">Избери всички</button>
        </form>
    </div>

    <a asp-controller="Access" asp-action="MapUserAccess" asp-route-username="@Model.UserName" class="btn btn-primary m-2">
         АИС достъпи
    </a>
</div>

@section Scripts {
        <script src="~/js/wrapper-is-readonly.js" asp-append-version="true"></script>
        <script src="~/js/map-unit-access.js" asp-append-version="true"></script>
}
