@using AccessManager.Data.Enums
@using AccessManager.ViewModels.Unit
@model MapUserUnitAccessViewModel

<h2 class="text-center">@Model.FirstName @Model.LastName</h2>
<h4 class="text-center">@Model.Department - @Model.Unit</h4>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
@if (TempData["Success"] != null)
{
    <div class="text-success">@TempData["Success"]</div>
}

<div class="row mt-5">
    <div class="col-md-6">
        <h4>Достъпни отдели</h4>
        <form id="FilterForm1" method="get" asp-action="MapUserUnitAccess" class="mb-2">
             <input type="hidden" name="userId" value="@Model.UserId" />

            <filter form-id="DepartmentFilterForm1"
                    label="Филтър по дирекция"
                    controller="Department"
                    action="SearchDepartments"
                    hidden-input-id="filterDepartment1"
                    hidden-name="filterDepartmentId1"
                    filter-id="@Model.FilterDepartmentId1"
                    filter-description="@Model.FilterDepartmentDescription1">
            </filter>
        </form>

        <form asp-action="RevokeUnitAccess" method="post">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="selectAllAccessible" /></th>
                        <th>Отдел</th>
                        <th>Дирекция</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var unit in Model.AccessibleUnits.Items)
                    {
                        <tr>
                            <td><input type="checkbox" name="SelectedAccessibleUnitIds" value="@unit.UnitId" /></td>
                            <td>@unit.UnitName</td>
                            <td>@unit.DepartmentName</td>
                        </tr>
                    }
                </tbody>
            </table>

            @await Html.PartialAsync("~/Views/Shared/_Pager.cshtml", Model.AccessibleUnits)

            <input type="hidden" name="userId" value="@Model.UserId" />
            <button type="submit" class="btn btn-danger mt-2" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Restricted">Премахни избраните</button>
            <button type="button" class="btn btn-secondary mt-2" id="selectAllAccessibleBtn">Избери всички</button>
        </form>
    </div>

    <div class="col-md-6">
        <h4>Недостъпни отдели</h4>
        <form method="get" id="FilterForm2" asp-action="MapUserUnitAccess" class="mb-2">
            <input type="hidden" name="userId" value="@Model.UserId" />

            <filter form-id="DepartmentFilterForm2"
                    label="Филтър по дирекция"
                    controller="Department"
                    action="SearchDepartments"
                    hidden-input-id="filterDepartment2"
                    hidden-name="filterDepartmentId2"
                    filter-id="@Model.FilterDepartmentId2"
                    filter-description="@Model.FilterDepartmentDescription2">
            </filter>
        </form>

        <form asp-action="GrantUnitAccess" method="post">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th><input type="checkbox" id="selectAllInaccessible" /></th>
                        <th>Отдел</th>
                        <th>Дирекция</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var unit in Model.InaccessibleUnits.Items)
                    {
                        <tr>
                            <td><input type="checkbox" name="SelectedInaccessibleUnitIds" value="@unit.UnitId" /></td>
                            <td>@unit.UnitName</td>
                            <td>@unit.DepartmentName</td>
                        </tr>
                    }
                </tbody>
            </table>

            @await Html.PartialAsync("~/Views/Shared/_Pager.cshtml", Model.InaccessibleUnits)

            <input type="hidden" name="userId" value="@Model.UserId" />
            <button type="submit" class="btn btn-success mt-2" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Restricted">Добави избраните</button>
            <button type="button" class="btn btn-secondary mt-2" id="selectAllInaccessibleBtn">Избери всички</button>
        </form>
    </div>

    <a asp-controller="Access" asp-action="MapUserAccess" asp-route-userId="@Model.UserId" class="btn btn-primary m-2">
         АИС достъпи
    </a>
</div>

@section Scripts {
        <script src="~/js/map-unit-access.js" asp-append-version="true"></script>
        <script src="~/js/filter.js" asp-append-version="true"></script>
}
