@using AccessManager.Utills;
@using AccessManager.Data.Entities;
@using AccessManager.ViewModels;
@model PagedResult<Log>

@{
    ViewData["Title"] = "Справки";
}

<form style="display:none;">
    @Html.AntiForgeryToken()
</form>

<h2>Справки</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
@if (TempData["Success"] != null)
{
    <div class="text-success">@TempData["Success"]</div>
}

<div class="wrapper mb-2" data-readonly="@(ViewBag.IsReadOnly != null && (bool)ViewBag.IsReadOnly ? "true" : "false")">
    <form asp-controller="Log" asp-action="DeleteAllLogs" method="post">
        <button type="submit" class="btn btn-sm btn-danger">
            Изтрий всички записи
        </button>
    </form>

</div>

<table class="wrapper table table-bordered table-striped" data-readonly="@(ViewBag.IsReadOnly != null && (bool)ViewBag.IsReadOnly ? "true" : "false")">
    <thead class="table-light">
        <tr>
            <th>Вид</th>
            <th>Действие</th>
            <th>Дата</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model.Items)
        {
            <tr>
                <td>@BulgarianLocalization.GetBulgarianLogAction(log.ActionType)</td>
                <td>@log.Description</td>
                <td>@log.Date</td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("~/Views/Shared/_Pager.cshtml", Model)

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/wrapper-is-readonly.js asp-append-version="true"></script>
}
