@using AccessManager.Data.Enums
@using AccessManager.Utills
@using AccessManager.ViewModels.InformationSystem
@model AccessManager.ViewModels.User.EditUserViewModel
@{
    ViewData["Title"] = $"{Model.FirstName} {Model.LastName}";
}

<h2 class="text-center fw-bold">@ViewData["Title"]</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
@if (TempData["Success"] != null)
{
    <div class="text-success">@TempData["Success"]</div>
}

<form asp-action="EditUser" method="post">
    <input type="hidden" asp-for="UserId" />
    <input type="hidden" asp-for="LoggedUserReadAuthority" />
    <input type="hidden" asp-for="LoggedUserWriteAuthority" />

    <div class="row" >
        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="FirstName" class="form-label">Първо име</label>
                <input asp-for="FirstName" class="form-control" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Full" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="MiddleName" class="form-label">Второ име</label>
                <input asp-for="MiddleName" class="form-control" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Full" />
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="LastName" class="form-label">Фамилия</label>
                <input asp-for="LastName" class="form-control" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Full" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                <label asp-for="Phone" class="form-label">Телефонен номер</label>
                <input asp-for="Phone" class="form-control" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Full" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            @*Only visible EGN in this case*@
            @if(Model.LoggedUserReadAuthority >= AuthorityType.Full)
            {
                <div class="mb-3">
                    <label asp-for="EGN" class="form-label">ЕГН</label>
                    <input asp-for="EGN" class="form-control" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Full" />
                    <span asp-validation-for="EGN" class="text-danger"></span>
                </div>
            }

        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="UserName" class="form-label">Потребителско име</label>
                <input asp-for="UserName" class="form-control" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Full" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="ReadingAccess" class="form-label">Достъп за четене</label>
                <select asp-for="ReadingAccess" class="form-select" id="SelectedReadingAccess" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Full">
                    @foreach (AuthorityType level in Enum.GetValues(typeof(AuthorityType)))
                    {
                        @if (level <= Model.LoggedUserReadAuthority)
                        {
                            <option value="@((int)level)">@BulgarianLocalization.GetBulgarianAuthorityType(level)</option>
                        }
                    }
                </select>
                <span asp-validation-for="ReadingAccess" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="WritingAccess" class="form-label">Достъп за писане</label>
                <select asp-for="WritingAccess" class="form-select" id="SelectedWritingAccess" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Full">
                    @foreach (AuthorityType level in Enum.GetValues(typeof(AuthorityType)))
                    {
                        @if(level <= Model.LoggedUserWriteAuthority)
                        {
                            <option value="@((int)level)">@BulgarianLocalization.GetBulgarianAuthorityType(level)</option>
                        }
                    }
                </select>
                <span asp-validation-for="WritingAccess" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="SelectedPositionId" class="form-label">Служба</label>
                <input type="text" class="form-control" id="positionInput" value="@Model.SelectedPositionDescription" autocomplete="off" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Full" />
                <input type="hidden" asp-for="SelectedPositionId" id="SelectedPositionId">
                <input type="hidden" asp-for="SelectedPositionDescription">
                <div id="positionResults" class="list-group position-absolute" style="z-index:1000;"></div>
                <span asp-validation-for="SelectedPositionId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="SelectedDepartmentId" class="form-label">Дирекция</label>
                <input type="text" class="form-control" id="departmentInput" value="@Model.SelectedDepartmentDescription" autocomplete="off" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Full"/>
                <input type="hidden" asp-for="SelectedDepartmentId" id="SelectedDepartmentId">
                <input type="hidden" asp-for="SelectedDepartmentDescription">
                <div id="departmentResults" class="list-group position-absolute" style="z-index:1000;"></div>
                <span asp-validation-for="SelectedDepartmentId" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="SelectedUnitId" class="form-label">Отдел</label>
                <input type="text" class="form-control" id="unitInput" value="@Model.SelectedUnitDescription" autocomplete="off" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Full"/>
                <input type="hidden" asp-for="SelectedUnitId" id="SelectedUnitId">
                <input type="hidden" asp-for="SelectedUnitDescription">
                <div id="unitResults" class="list-group position-absolute" style="z-index:1000;"></div>
                <span asp-validation-for="SelectedUnitId" class="text-danger"></span>
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Нова парола</label>
        <input type="password" name="NewPassword" class="form-control" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Full" />
    </div>

    <div class="row">
        <div class="d-grid col-md-3">
            <button type="submit" class="btn btn-success btn-lg">Запази</button>
        </div>
        <div class="d-grid col-md-3">
            <a asp-controller="Access" asp-action="MapUserAccess" asp-route-userId="@Model.UserId" class="btn btn-primary btn-lg">
                АИС достъпи
            </a>
        </div>
        <div class="d-grid col-md-3">
            <a asp-controller="Unit" asp-action="MapUserUnitAccess" asp-route-userId="@Model.UserId" class="btn btn-primary btn-lg">
                Достъпи до отдели
            </a>
        </div>
        <div class="d-grid col-md-3">
             <button type="submit" formaction="/User/Deactivate" formmethod="post" class="btn btn-danger btn-lg">Деактивирай акаунта</button>
        </div>
    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/password-visibility-toggle.js" asp-append-version="true"></script>
    <script src="~/js/edit-user.js" asp-append-version="true"></script>
    <script src="~/js/unit-dropdown-load.js" asp-append-version="true"></script>
    <script src="~/js/access-visibility.js" asp-append-version="true"></script>
    <script src="~/js/sync-authority-type-access.js" asp-append-version="true"></script>
}