@using AccessManager.Data.Enums
@using AccessManager.Utills
@using AccessManager.ViewModels.InformationSystem
@model AccessManager.ViewModels.User.EditUserViewModel
@{
    ViewData["Title"] = $"{Model.FirstName} {Model.LastName}";
}

<h2 class="text-center fw-bold">@ViewData["Title"]</h2>

@if (ViewBag.Success != null && (bool)ViewBag.Success)
{
    <div class="alert alert-success">Профилът е обновен успешно.</div>
}

<form asp-action="EditUser" method="post" class="wrapper" data-readonly="@(ViewBag.IsReadOnly != null && (bool)ViewBag.IsReadOnly ? "true" : "false")">
    <div class="row" >
        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="FirstName" class="form-label">Първо име</label>
                @if (Model.LoggedUserWritingAccess >= AuthorityType.SuperAdmin)
                {
                    <input asp-for="FirstName" class="form-control" />
                }
                else
                {
                    <input type="hidden" asp-for="FirstName" />
                    <input class="form-control" value="@Model.FirstName" disabled />
                }
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="MiddleName" class="form-label">Второ име</label>
                @if (Model.LoggedUserWritingAccess >= AuthorityType.SuperAdmin)
                {
                    <input asp-for="MiddleName" class="form-control" />
                }
                else
                {
                    <input type="hidden" asp-for="MiddleName" />
                    <input class="form-control" value="@Model.MiddleName" disabled />
                }
                <span asp-validation-for="MiddleName" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="LastName" class="form-label">Фамилия</label>
                @if (Model.LoggedUserWritingAccess >= AuthorityType.SuperAdmin)
                {
                    <input asp-for="LastName" class="form-control" />
                }
                else
                {
                    <input type="hidden" asp-for="LastName" />
                    <input class="form-control" value="@Model.LastName" disabled />
                }
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            
            <div class="mb-3">
                    <label asp-for="Phone" class="form-label">Телефонен номер</label>
                    <input asp-for="Phone" class="form-control" />
                    <span asp-validation-for="Phone" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label class="form-label">Нова парола</label>
                @if (Model.LoggedUserWritingAccess >= AuthorityType.Full)
                {
                    <input type="password" name="NewPassword" class="form-control" />
                }
            </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label asp-for="UserName" class="form-label">Потребителско име</label>
                @if (Model.LoggedUserWritingAccess >= AuthorityType.SuperAdmin)
                {
                    <input asp-for="UserName" class="form-control" />
                }
                else
                {
                    <input type="hidden" asp-for="UserName" />
                    <input class="form-control" value="@Model.UserName" disabled />
                }
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="ReadingAccess" class="form-label">Достъп за четене</label>
                <select asp-for="ReadingAccess" class="form-select" id="SelectedReadingAccess">
                    @foreach (AuthorityType level in Enum.GetValues(typeof(AuthorityType)))
                    {
                        @if (level <= Model.LoggedUserReadingAccess)
                        {
                            <option value="@((int)level)">@AuthorityTypeLocalization.GetBulgarianAuthorityType(level)</option>
                        }
                    }
                </select>
                <span asp-validation-for="ReadingAccess" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="WritingAccess" class="form-label">Достъп за писане</label>
                <select asp-for="WritingAccess" class="form-select" id="SelectedWritingAccess">
                    @foreach (AuthorityType level in Enum.GetValues(typeof(AuthorityType)))
                    {
                        @if(level <= Model.LoggedUserWritingAccess)
                        {
                            <option value="@((int)level)">@AuthorityTypeLocalization.GetBulgarianAuthorityType(level)</option>
                        }
                    }
                </select>
                <span asp-validation-for="WritingAccess" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SelectedDepartmentId" class="form-label">Дирекция</label>
                <select asp-for="SelectedDepartmentId" asp-items="Model.AvailableDepartments" class="form-select" id="SelectedDepartmentId">
                </select>
                <span asp-validation-for="SelectedDepartmentId" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="SelectedUnitId" class="form-label">Отдел</label>
                <select asp-for="SelectedUnitId" asp-items="Model.AvailableUnits" class="form-select" id="SelectedUnitId">
                </select>
                <span asp-validation-for="SelectedUnitId" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-grid col-md-3">
            <button type="submit" class="btn btn-success btn-lg">Запази</button>
        </div>
        <div class="d-grid col-md-3">
            <a asp-controller="Access" asp-action="MapUserAccess" asp-route-username="@Model.UserName" class="btn btn-primary btn-lg">
                АИС достъпи
            </a>
        </div>
        <div class="d-grid col-md-3">
            <a asp-controller="Unit" asp-action="MapUserUnitAccess" asp-route-username="@Model.UserName" class="btn btn-primary btn-lg">
                Достъпи до отдели
            </a>
        </div>
        <div class="d-grid col-md-3">
             <button type="submit" formaction="/User/Deactivate" formmethod="post" class="btn btn-danger btn-lg">Деактивирай акаунта</button>
        </div>
    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/password-visibility-toggle.js" asp-append-version="true"></script>
    <script src="~/js/edit-user.js" asp-append-version="true"></script>
    <script src="~/js/wrapper-is-readonly.js" asp-append-version="true"></script>
    <script src="~/js/unit-dropdown-load.js" asp-append-version="true"></script>
    <script src="~/js/access-visibility.js" asp-append-version="true"></script>
    <script src="~/js/sync-authority-type-access.js" asp-append-version="true"></script>
}