@using AccessManager.Utills
@using AccessManager.ViewModels.User
@model UserListViewModel

@{
    ViewData["Title"] = "Потребители";
}

<h2>Потребители</h2>

<form style="display:none;">
    @Html.AntiForgeryToken()
</form>

<form method="get" class="mb-3 d-flex align-items-end gap-3">
    <div>
        <label for="sortBy" class="form-label">Сортиране по:</label>
        <select name="sortBy" id="sortBy" class="form-select" onchange="this.form.submit()">
            @foreach (var option in Model.SortOptions)
            {
                <option value="@option" selected="@(option == Model.SelectedSortOption ? "selected" : null)">
                    @option
                </option>
            }
        </select>
    </div>

    <div>
        <label for="filterDepartment" class="form-label">Филтър по Дирекция:</label>
        <select name="filterDepartment" id="filterDepartment" class="form-select" onchange="this.form.submit()">
            <option value="">Всички</option>
            @foreach (var department in Model.FilterDepartments)
            {
                <option value="@department" selected="@(department == Model.SelectedFilterDepartment ? "selected" : null)">
                    @department
                </option>
            }
        </select>
    </div>

    <div>
        <label for="filterUnit" class="form-label">Филтър по Отдел:</label>
        <select name="filterUnit" id="filterUnit" class="form-select" onchange="this.form.submit()">
            <option value="">Всички</option>
            @foreach (var unit in Model.FilterUnits)
            {
                <option value="@unit" selected="@(unit == Model.SelectedFilterUnit ? "selected" : null)">
                    @unit
                </option>
            }
        </select>
    </div>

    <div class="wrapper">
            <a asp-controller="User" asp-action="CreateUser" class="btn btn-success">
                Добави потребител
            </a>
    </div>
    <div class="wrapper">
        <a asp-controller="User" asp-action="DeletedUsers" class="btn btn-primary">
            Виж изтритите потребители
        </a>
    </div>

</form>

<table class="table table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th>Потребителско име</th>
            <th>Собствено име</th>
            <th>Фамилия</th>
            <th>Дирекция</th>
            <th>Отдел</th>
            <th>Достъп за писане</th>
            <th>Достъп за четене</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model.Users)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Department</td>
                <td>@user.Unit</td>
                <td>@AuthorityTypeLocalization.GetBulgarianAuthorityType(user.WriteAccess)</td>
                <td>@AuthorityTypeLocalization.GetBulgarianAuthorityType(user.ReadAccess)</td>
                @if (Model.WriteAuthority >= AccessManager.Data.Enums.AuthorityType.Restricted)
                {
                    <td>
                        <a asp-controller="User" asp-action="EditUser" asp-route-username="@user.UserName" class="btn btn-sm btn-info">
                            Редактирай
                        </a>
                    </td>
                    <td>
                        <form asp-controller="User" asp-action="SoftDeleteUser" method="post" asp-route-username="@user.UserName">
                            <button type="submit" class="btn btn-danger me-2">
                                Изтрий
                            </button>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
@if (Model.TotalPages > 1)
{
    <nav>
        <ul class="pagination justify-content-center mt-4">
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" href="?page=@i">@i</a>
                </li>
            }
        </ul>
    </nav>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
