@using AccessManager.Utills
@using AccessManager.ViewModels
@using AccessManager.ViewModels.User
@using AccessManager.Data.Enums
@model UserListViewModel

@{
    ViewData["Title"] = "Потребители";
}

<h2>Потребители</h2>

<form style="display:none;">
    @Html.AntiForgeryToken()
</form>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
@if (TempData["Success"] != null)
{
    <div class="text-success">@TempData["Success"]</div>
}

<form id="usersFilterForm" action="/User/UserList" method="get" class="mb-3 d-flex align-items-end gap-3" >
    <div>
        <label asp-for="SelectedSortOption" class="form-label">Сортиране</label>
        <select asp-for="SelectedSortOption" class="form-select" id="selectedSortOption">
            @foreach (UserSortOptions sort in Enum.GetValues(typeof(UserSortOptions)))
            {
                <option value="@((int)sort)">@BulgarianLocalization.GetBulgarianSort(sort)</option>
            }
        </select>
    </div>

    <filter form-id="DepartmentFilterForm"
            label="Филтър по дирекция"
            controller="Department"
            action="SearchDepartments"
            hidden-input-id="filterDepartment"
            hidden-name="filterDepartmentId"
            filter-id="@Model.FilterDepartmentId"
            filter-description="@Model.FilterDepartmentDescription">
    </filter>

    <filter form-id="UnitFilterForm"
            label="Филтър по отдел"
            controller="Unit"
            action="SearchUnits"
            hidden-input-id="filterUnit"
            hidden-name="filterUnitId"
            filter-id="@Model.FilterUnitId"
            filter-description="@Model.FilterUnitDescription">
    </filter>
</form>

<table class="table table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th>Потребителско име</th>
            <th>Собствено име</th>
            <th>Фамилия</th>
            <th>Дирекция</th>
            <th>Отдел</th>
            <th>Достъп за писане</th>
            <th>Достъп за четене</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model.Users.Items)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Department</td>
                <td>@user.Unit</td>
                <td>@BulgarianLocalization.GetBulgarianAuthorityType(user.WriteAccess)</td>
                <td>@BulgarianLocalization.GetBulgarianAuthorityType(user.ReadAccess)</td>
                    <td>
                        <a asp-controller="User" asp-action="EditUser" asp-route-userid="@user.Id" class="btn btn-sm btn-info" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Restricted">
                            Редактирай
                        </a>
                    </td>
                    <td>
                        <form asp-controller="User" asp-action="SoftDeleteUser" method="post" asp-route-userid="@user.Id" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Full">
                            <button type="submit" class="btn btn-danger me-2">
                                Изтрий
                            </button>
                        </form>
                    </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("~/Views/Shared/_Pager.cshtml", Model.Users)

<div class="gap-5 row">
    <a asp-controller="User" asp-action="CreateUser" class="btn btn-success col-md-2" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Restricted">
        Добави потребител
    </a>
    <a asp-controller="User" asp-action="DeletedUsers" class="btn btn-danger col-md-2" auth="@Model.LoggedUserReadAuthority >= AuthorityType.SuperAdmin">
        Виж изтритите потребители
    </a>
    <a asp-controller="File" asp-action="UsersCsv" class="btn btn-primary col-md-3" auth="@Model.LoggedUserReadAuthority >= AuthorityType.Restricted">
        Експортирай CSV с потребители
    </a>
    <a asp-controller="File" asp-action="UsersUnitsCsv" class="btn btn-primary col-md-3" auth="@Model.LoggedUserReadAuthority >= AuthorityType.Restricted">
        Експортирай CSV с достъпните отдели за потребители
    </a>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/filter.js" asp-append-version="true"></script>
}
