@using AccessManager.Utills
@using AccessManager.ViewModels
@using AccessManager.ViewModels.User
@using AccessManager.Data.Enums
@model UserListViewModel

@{
    ViewData["Title"] = "Потребители";
}

<h2>Потребители</h2>

@if (TempData["Error"] != null)
{
    <div class="alert alert-danger">@TempData["Error"]</div>
}
@if (TempData["Success"] != null)
{
    <div class="text-success">@TempData["Success"]</div>
}

<form id="usersFilterForm" action="/User/UserList" method="get"  >
    <div class="mb-3 d-flex align-items-end gap-3">
    <div>
        <label asp-for="SelectedSortOption" class="form-label">Сортиране</label>
        <select asp-for="SelectedSortOption" class="form-select" id="selectedSortOption" onchange="this.form.submit()">
            @foreach (UserSortOptions sort in Enum.GetValues(typeof(UserSortOptions)))
            {
                <option value="@((int)sort)">@BulgarianLocalization.GetBulgarianSort(sort)</option>
            }
        </select>
    </div>

    <filter form-id="DepartmentFilterForm"
            label="Филтър по дирекция"
            controller="Department"
            action="SearchDepartments"
            hidden-input-id="filterDepartment"
            hidden-name="filterDepartmentId"
            filter-id="@Model.FilterDepartmentId"
            filter-description="@Model.FilterDepartmentDescription">
    </filter>

    <filter form-id="UnitFilterForm"
            label="Филтър по отдел"
            controller="Unit"
            action="SearchUnits"
            hidden-input-id="filterUnit"
            hidden-name="filterUnitId"
            filter-id="@Model.FilterUnitId"
            filter-description="@Model.FilterUnitDescription">
    </filter>

    <filter form-id="PositionFilterForm"
            label="Филтър по служба"
            controller="Position"
            action="SearchPositions"
            hidden-input-id="filterPosition"
            hidden-name="filterPositionId"
            filter-id="@Model.FilterPositionId"
            filter-description="@Model.FilterPositionDescription">
    </filter>
    </div>
<table class="table table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th title="Потребителско име">Потребителско име</th>
            <th title="Собствено име">Собствено име</th>
            <th>Фамилия</th>
            <th>Служба</th>
            <th>Дирекция</th>
            <th>Отдел</th>
            <th title="Достъп за писане">Достъп за писане</th>
            <th title="Достъп за четене">Достъп за четене</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model.Users.Items)
        {
            <tr>
                    <td title="@user.UserName">@user.UserName</td>
                    <td title="@user.FirstName">@user.FirstName</td>
                    <td title="@user.LastName">@user.LastName</td>
                    <td title="@user.Position">@user.Position</td>
                    <td title="@user.Department">@user.Department</td>
                    <td title="@user.Unit">@user.Unit</td>
                    <td title="@BulgarianLocalization.GetBulgarianAuthorityType(user.WriteAccess)">@BulgarianLocalization.GetBulgarianAuthorityType(user.WriteAccess)</td>
                <td title="@BulgarianLocalization.GetBulgarianAuthorityType(user.ReadAccess)">@BulgarianLocalization.GetBulgarianAuthorityType(user.ReadAccess)</td>
                <td>
                    <a asp-controller="User" asp-action="EditUser" asp-route-userid="@user.Id" class="btn btn-sm btn-info" auth="@Model.LoggedUserReadAuthority >= AuthorityType.Restricted">
                        Редактирай
                    </a>
                </td>
                <td>
                    <form asp-controller="User" asp-action="SoftDeleteUser" method="post" asp-route-userid="@user.Id" >
                        <button type="submit" class="btn btn-sm btn-danger" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Full && Model.LoggedUserWriteAuthority > user.WriteAccess">
                            Изтрий
                        </button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("~/Views/Shared/_Pager.cshtml", Model.Users)

<div class="gap-5 row">
    <a asp-controller="User" asp-action="CreateUser" class="btn btn-success col-md-2" auth="@Model.LoggedUserWriteAuthority >= AuthorityType.Restricted">
        Добави потребител
    </a>
    <a asp-controller="User" asp-action="DeletedUsers" class="btn btn-danger col-md-2" auth="@Model.LoggedUserReadAuthority >= AuthorityType.SuperAdmin">
        Виж изтритите потребители
    </a>
    <a asp-controller="File" asp-action="UsersCsv" class="btn btn-primary col-md-3" auth="@Model.LoggedUserReadAuthority >= AuthorityType.Restricted">
        Експортирай CSV с потребители
    </a>
    <a asp-controller="File" asp-action="UsersUnitsCsv" class="btn btn-primary col-md-3" auth="@Model.LoggedUserReadAuthority >= AuthorityType.Restricted">
        Експортирай CSV с достъпните отдели за потребители
    </a>
</div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/filter.js" asp-append-version="true"></script>
}
