@using AccessManager.Utills
@using AccessManager.ViewModels
@using AccessManager.ViewModels.User
@model UserListViewModel

@{
    ViewData["Title"] = "Потребители";
}

<h2>Потребители</h2>

<form style="display:none;">
    @Html.AntiForgeryToken()
</form>

<form method="get" class="mb-3 d-flex align-items-end gap-3 wrapper" data-readonly="@(ViewBag.IsReadOnly != null && (bool)ViewBag.IsReadOnly ? "true" : "false")">
    <div>
        <label for="sortBy" class="form-label">Сортиране по:</label>
        <select name="sortBy" id="sortBy" class="form-select" onchange="this.form.submit()">
        </select>
    </div>

    <div>
        <label for="filterDepartment" class="form-label">Филтър по Дирекция:</label>
        <select name="filterDepartment" id="filterDepartment" class="form-select" onchange="this.form.submit()">
        </select>
    </div>

    <div>
        <label for="filterUnit" class="form-label">Филтър по Отдел:</label>
        <select name="filterUnit" id="filterUnit" class="form-select" onchange="this.form.submit()">
        </select>
    </div>

    <div>
        <a asp-controller="User" asp-action="CreateUser" class="btn btn-success">
            Добави потребител
        </a>
    </div>
    <div>
        <a asp-controller="User" asp-action="DeletedUsers" class="btn btn-danger">
            Виж изтритите потребители
        </a>
    </div>
    <div>
        <a asp-controller="File" asp-action="UsersCsv" class="btn btn-primary">
            Експортирай CSV с потребители
        </a>
    </div>
    <div>
        <a asp-controller="File" asp-action="UsersUnitsCsv" class="btn btn-primary">
            Експортирай CSV с достъпните отдели за потребители
        </a>
    </div>
</form>

<table class="table table-bordered table-striped">
    <thead class="table-light">
        <tr>
            <th>Потребителско име</th>
            <th>Собствено име</th>
            <th>Фамилия</th>
            <th>Дирекция</th>
            <th>Отдел</th>
            <th>Достъп за писане</th>
            <th>Достъп за четене</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model.Users.Items)
        {
            <tr>
                <td>@user.UserName</td>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Department</td>
                <td>@user.Unit</td>
                <td>@BulgarianLocalization.GetBulgarianAuthorityType(user.WriteAccess)</td>
                <td>@BulgarianLocalization.GetBulgarianAuthorityType(user.ReadAccess)</td>
                @if (Model.WriteAuthority >= AccessManager.Data.Enums.AuthorityType.Restricted)
                {
                    <td>
                        <a asp-controller="User" asp-action="EditUser" asp-route-username="@user.UserName" class="btn btn-sm btn-info">
                            Редактирай
                        </a>
                    </td>
                    <td>
                        <form asp-controller="User" asp-action="SoftDeleteUser" method="post" asp-route-username="@user.UserName">
                            <button type="submit" class="btn btn-danger me-2">
                                Изтрий
                            </button>
                        </form>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@await Html.PartialAsync("~/Views/Shared/_Pager.cshtml", Model.Users)

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
